<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/test-style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1></h1>
    <p>Sample template</p>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
          <a class="navbar-brand" href='#'><%= title %> Application</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/profile">Profile</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/settings">Settings</a>
                  </li>
              </ul>
          </div>
      </div>
    </nav> 

    <div class="container">
      <div class="row ">
        <div class="col-4 v-separator">
          <h4>Flight Callsigns</h4>
          <hr>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">AC452</a>
            </li>
            <hr>
            <li class="nav-item">
              <a class="nav-link" href="#">BA123</a>
            </li>
            <hr>
            <li class="nav-item">
              <a class="nav-link" href="#">QF745</a>
            </li>
            <hr>
            <li class="nav-item">
              <a class="nav-link" href="#">BA139</a>
            </li>
            <hr>
          </ul>
        </div>

        <div class="col-8">
          <div class="container request">
            <p>
              <b>AC 452:</b>
              Apron it's
              <mark class="first-pair">Air Canada 452</mark>
                ready for
              <mark class="second-pair">taxi</mark>
            </p>
            <span class="time-right">12:59</span>
          </div>
      
          <div class="atc container response">
            <p>
              <b>ATC: </b>
              <mark class="first-pair">Air Canada 452</mark>
              Roger
              <mark class="second-pair">tax e406</mark>
              left
              <mark class="third-pair">hold short of Delta papa</mark>
            </p>
            <span class="time-left">12:59</span>
          </div>
      
          <div class="container confirmation">
            <p>
              <b>AC 452:</b>
              Roger
              <mark class="third-pair">hold short at Delta Papa</mark>
            </p>
            <span class="time-right">12:59</span>
          </div>
        </div>
      </div>

 



     
  
      
    </div>

    

  </body>
</html>