nav {
  background-color: #071920;
  color: #ffffff
}

a {
  color: #00B7FF;
}

.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.atc {
  border-color: #ccc;
  background-color: #ddd;
}
.container::after {
  content: "";
  clear: both;
  display: table;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}

.strip {
  position: relative;
}

.strip-content {
  position:absolute;
  text-align: center;
  display: inline-block;
  color: black;
}

.btn {
  vertical-align: bottom;
}

.about {
  background-color: #071920;
  color: #ffffff;
}

i {
  color: #071920;
}

h2 {
  font-family: "Courier New", Courier, monospace;

p {
  font-family: Arial, Helvetica, sans-serif;
}