body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav {
  background-color: #00B7FF;
}

a {
  color: #00B7FF;
}

.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.atc {
  border-color: #ccc;
  background-color: #ddd;
}
.container::after {
  content: "";
  clear: both;
  display: table;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}

.strip {
  position: relative;
}

.strip-content {
  position:absolute;
  text-align: center;
  display: inline-block;
  color: black;
}

.btn {
  vertical-align: bottom;
}
